In [24]:
from datetime import datetime
import json
import random
from influxdb import InfluxDBClient,DataFrameClient
import pandas as pd
from outlier.SHESD import SHESD

In [25]:
client = DataFrameClient('localhost', 8086, 'root', 'root', 'example')
# client.create_database('example')

In [26]:
result = True
try:
    client.get_list_database()
    print "Connect successfully"
except:
    result = False
    print "Cannot connect. Please check configuration server"

Connect successfully

In [32]:
dat = pd.read_csv('data/vc_1.csv',index_col=0,parse_dates=True)[:24*60*24]
dat.points.interpolate(inplace=True)
estimators = SHESD()
new_dat = estimators.convert_to_influx_format(dat.points)
# a = estimators.fit_predict(dat.points)

In [37]:
new_

,value
timestamp,
2016-04-28 08:41:00+00:00,0.058654
2016-04-28 08:42:00+00:00,0.051853
2016-04-28 08:43:00+00:00,0.059097
2016-04-28 08:44:00+00:00,0.044963
2016-04-28 08:45:00+00:00,0.052538

In [34]:
client.write_points(new_dat,'vc1_2weeks')

True

In [44]:
new_dat[24*60*14-3:]

,value
timestamp,
2016-04-18 08:43:00+00:00,0.055068
2016-04-18 08:44:00+00:00,0.039638
2016-04-18 08:45:00+00:00,0.047541
2016-04-18 08:46:00+00:00,0.061273
2016-04-18 08:47:00+00:00,0.044938
2016-04-18 08:48:00+00:00,0.061230
2016-04-18 08:49:00+00:00,0.056057
2016-04-18 08:50:00+00:00,0.065970
2016-04-18 08:51:00+00:00,0.038890
2016-04-18 08:52:00+00:00,0.049855
2016-04-18 08:53:00+00:00,0.049050
2016-04-18 08:54:00+00:00,0.043606
2016-04-18 08:55:00+00:00,0.048486
2016-04-18 08:56:00+00:00,0.043085
2016-04-18 08:57:00+00:00,0.045074
2016-04-18 08:58:00+00:00,0.054107
2016-04-18 08:59:00+00:00,0.061051
2016-04-18 09:00:00+00:00,0.047562
2016-04-18 09:01:00+00:00,0.046551
2016-04-18 09:02:00+00:00,0.038678
2016-04-18 09:03:00+00:00,0.052075
2016-04-18 09:04:00+00:00,0.112431
2016-04-18 09:05:00+00:00,0.041920
2016-04-18 09:06:00+00:00,0.047046
2016-04-18 09:07:00+00:00,0.045463
2016-04-18 09:08:00+00:00,0.049167
2016-04-18 09:09:00+00:00,0.040295
2016-04-18 09:10:00+00:00,0.039032
2016-04-18 09:11:00+00:00,0.039068
2016-04-18 09:12:00+00:00,0.036270
...,...
2016-04-28 08:16:00+00:00,0.042473
2016-04-28 08:17:00+00:00,0.048133
2016-04-28 08:18:00+00:00,0.042351
2016-04-28 08:19:00+00:00,0.042877
2016-04-28 08:20:00+00:00,0.048832
2016-04-28 08:21:00+00:00,0.057264
2016-04-28 08:22:00+00:00,0.042779
2016-04-28 08:23:00+00:00,0.049890
2016-04-28 08:24:00+00:00,0.044854
2016-04-28 08:25:00+00:00,0.045910
2016-04-28 08:26:00+00:00,0.045295
2016-04-28 08:27:00+00:00,0.041473
2016-04-28 08:28:00+00:00,0.048456
2016-04-28 08:29:00+00:00,0.040605
2016-04-28 08:30:00+00:00,0.043190
2016-04-28 08:31:00+00:00,0.043590
2016-04-28 08:32:00+00:00,0.046661
2016-04-28 08:33:00+00:00,0.045020
2016-04-28 08:34:00+00:00,0.050143
2016-04-28 08:35:00+00:00,0.046851
2016-04-28 08:36:00+00:00,0.047240
2016-04-28 08:37:00+00:00,0.051854
2016-04-28 08:38:00+00:00,0.045841
2016-04-28 08:39:00+00:00,0.040687
2016-04-28 08:40:00+00:00,0.048572
2016-04-28 08:41:00+00:00,0.058654
2016-04-28 08:42:00+00:00,0.051853
2016-04-28 08:43:00+00:00,0.059097
2016-04-28 08:44:00+00:00,0.044963
2016-04-28 08:45:00+00:00,0.052538